{% extends 'flatpages/default.html' %}

{% block title %}
{{ notice.notice_header }}
{% endblock title %}
{% block content %}
<h1>Заголовок: {{ notice.notice_header }}</h1>
<h2>Категория: {{ notice.notice_category }}</h2>
<h3>Пользователь: {{ notice.notice_user }}</h3>
<hr>
<h3>Текст: {{ notice.notice_text}} </h3>
<a href="{{ notice.notice_video }}">{{ notice.notice_video }}</a>
<p></p>
{% if notice.notice_image %}
<img  class="img-article-left thumb" src="{{ notice.notice_image.url }}" style="max-height:300px">

<p></p>
{% endif %}
<h5 style="text-align: right;">Дата: {{ notice.notice_time_create|date:'d-m-Y H:i' }} </h5>
{% if user == notice.notice_user %}
 <form action="{% url 'notice_update' notice.id %}">
   <button>Редактировать</button></form>
<form action="{% url 'notice_delete' notice.id %}">
    <button>Удалить</button>
</form>
{% endif %}

{% if user != notice.notice_user and user.is_authenticated  %}
<p>-----</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <p>----</p>
    <input type="submit" value="Откликнуться">
</form>
{% endif %}
<h2 style="text-align: left;">Отклики</h2>

{% for answer in notice.answer.all %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
        </svg>

        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{ answer.answer_user }}</strong>
            </div>
            <span class="d-block"><h3 style="text-align: center;">{{ answer.answer_text }}</h3></span>
            {% if user == notice.notice_user %}
            {% if not answer.is_accept %}
            <span class="pull-right mr-3"><a href="{% url 'answer_confirm' notice.id %}">Принять</a></span>
            {% else %}
            <span class="pull-right mr-3"><a href="{% url 'answer_cancel' notice.id %}">Отменить</a></span>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}